li {
  margin: 30px 0px;
  font-size: 1.3rem;
  list-style-type: none;
  padding: 15px 80px;
  border-radius: 20px;
  background-color: aliceblue;
  text-align: center;
}

.task {
  font-size: 2rem;
  font-weight: 500;
  color: #727373;
}

li:hover{
  transform: scale(1.1);
  transition: 0.5s;
}